.titleBar {
  height: 30px;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--gray-a5);
  -webkit-app-region: drag;
  user-select: none;
}

.navbar {
  border-bottom: 1px solid var(--gray-a5);
  background-color: var(--color-background);
  -webkit-app-region: no-drag;
}
